<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  </head>
<%- include("templates/cabecera", {tituloWeb: 'Detalle'}) %>
<div class="detalle-contenedor">
    <nav id="detalle-nav">
        <h1><%= propiedad.tipoPropiedad %> En <%= propiedad.direccion %></h1>
    </nav>
    <div class="detalle-estado">
        <h2>En <%= propiedad.tipoOperacion %></h2>
        <div id="detalle-precio"><h3><% if (propiedad.moneda==='Dolar' ) { %>
            US$<%= propiedad.precio %>
             <% } else { %>
             $<%= propiedad.precio %>
              <% } %></h3>
        </div>
    </div>
    <div class="detalle-body">
        <div class="SectionProp">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <% propiedad.imagenes.forEach((imagen, index) => { %>
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>" id="carruItem">
                        <img src="<%= imagen.path %>" class="" id="carruImg" alt="<%= imagen.originalname %>">
                    </div>
                <% }) %>
                </div>
                <% if (propiedad.imagenes.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
            <div id="detalle-contenido">
                <h2>Detalles de la Propiedad</h2>
                <ul id="descripcion">
                    <li>Tipo propiedada: <%= propiedad.tipoPropiedad %></li>
                    <li>Ubicacion: <%= propiedad.direccion %></li>
                    <li>Moneda: <%= propiedad.moneda %></li>
                  <% if(propiedad.dormitorios > 0){ %>
                   <li>Cantidad de dormitorios: <%= propiedad.dormitorios %></li> 
                  <% } %>
                  <% if(propiedad.banos > 0){ %>
                  <li>Cantidad de baños: <%= propiedad.banos %></li> 
                  <% } %>
                  <% if(propiedad.garage > 0){ %>
                   <li>Cantidad de garages: <%= propiedad.garage %></li> 
                 <% } %>
                  <% if(propiedad.metro2prop != 0){ %>
                   <li>Metros (propiedad): <%= propiedad.metro2prop %>m2</li> 
                 <% } %>
                  <li>Metros (terreno): <%= propiedad.metro2terr %>m2</li>
                  <li>Credito: <%= propiedad.credito %></li>
                 </ul>
            </div>
        </div>
        <div class="SectionDescrip">
            <h1>Descripción</h1>
            <p><%= propiedad.descripcion %></p>
        </div>
        <div class="SectionMap">
            <nav>
                <img src="/imagenes/alfiler.png" alt=""> <h1>Ubicacion en mapa</h1>
            </nav>
            <iframe
            src="https://www.google.com/maps?q=<%= propiedad.coordenada1 %>,<%= propiedad.coordenada2 %>&output=embed"
             width="80%"
             height="450"
             style="border:0;"
             style="margin-top: 30px;"
             allowfullscreen=""
             loading="lazy">
            </iframe>
    
        </div>
    </div>
    
</div>
 
<%- include("templates/footer") %>