<!DOCTYPE html>
<html lang="es">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <!-- Otros estilos específicos de la página -->
  <link rel="stylesheet" href="/Estilos/crudprop.css">
</head>

<%- include("templates/cabecera", {tituloWeb: 'Editar Propiedad' }) %>
<div class="propiedad-form">
    <nav id="nav-prop">
        <h1>Editar Propiedad</h1>
      </nav>
    <% if (error) { %>
        <p>
            <%= mensaje %>
        </p>
        <a href="/propiedades">Volver a Propiedades</a>
    <% } %>

    <% if (!error) { %>

        <form id="formularioEditar" enctype="multipart/form-data" data-id="<%= propiedad.id %>">

            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" value="<%= propiedad.descripcion %>" >
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección Visible</label>
                <input type="text" class="form-control" id="direccion" name="direccion" value="<%= propiedad.direccion %>" >
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" class="form-control" id="precio" name="precio" value="<%= propiedad.precio %>" >
            </div>
            <div class="mb-3">
                <label for="imagenes" class="form-label">Imágenes</label>
                <div id="imagenesExistentes" class="card-group">
                    <% propiedad.imagenes.forEach(imagen => { %>
                        <div class="card">
                            <img src="<%= imagen.path %>" class="card-img-top" alt="Imagen de propiedad">
                            <div class="card-body">
                                <button type="button" class="btn btn-danger btn-sm btnEliminarImagen" data-id="<%= imagen.id %>">Eliminar</button>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <input type="file" class="form-control" id="imagenes" name="image" multiple>
                <button type="button" id="agregarImagen" class="btn btn-primary">Agregar más imágenes</button>
            </div>
            
            <!-- Campos ocultos para guardar las imágenes actuales -->
            <% propiedad.imagenes.forEach(imagen => { %>
                <input type="hidden" name="imagenActual" value="<%= imagen.public_id %>">
            <% }); %>
            
            <div class="mb-3">
                <label for="tipoOperacion" class="form-label">Tipo de Operación</label>
                <select class="form-select" id="tipoOperacion" name="tipoOperacion" >
                    <option value="Venta" <% if (propiedad.tipoOperacion === 'Venta') { %> selected <% } %>>Venta</option>
                    <option value="Alquiler" <% if (propiedad.tipoOperacion === 'Alquiler') { %> selected <% } %>>Alquiler</option>
                    <option value="Alquiler temporario" <% if (propiedad.tipoOperacion === 'Alquiler temporario') { %> selected <% } %>>Alquiler Temporario</option>
                    <option value="Venta en otra localidad" <% if (propiedad.tipoOperacion === 'Venta en otra localidad') { %> selected <% } %>>Venta en otra localidad</option>
                    <option value="Remate" <% if (propiedad.tipoOperacion === 'Remate') { %> selected <% } %>>Remate</option>
                    <option value="Permuta" <% if (propiedad.tipoOperacion === 'Permuta') { %> selected <% } %>>Permuta</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="tipoPropiedad" class="form-label">Tipo de Propiedad</label>
                <select class="form-select" id="tipoPropiedad" name="tipoPropiedad" >
                    <option value="Casa" <% if (propiedad.tipoPropiedad === 'Casa') { %> selected <% } %>>Casa</option>
                    <option value="Departamento/Duplex" <% if (propiedad.tipoPropiedad === 'Departamento/Duplex') { %> selected <% } %>>Departamento/Dúplex</option>
                    <option value="Quinta" <% if (propiedad.tipoPropiedad === 'Quinta') { %> selected <% } %>>Quinta</option>
                    <option value="Lote" <% if (propiedad.tipoPropiedad === 'Lote') { %> selected <% } %>>Lote</option>
                    <option value="Campo" <% if (propiedad.tipoPropiedad === 'Campo') { %> selected <% } %>>Campo</option>
                    <option value="Galpon" <% if (propiedad.tipoPropiedad === 'Galpon') { %> selected <% } %>>Galpón</option>
                    <option value="Local/Oficina" <% if (propiedad.tipoPropiedad === 'Local/Oficina') { %> selected <% } %>>Local/Oficina</option>
                    <option value="Cabañas/Hoteles/Otros" <% if (propiedad.tipoPropiedad === 'Cabañas/Hoteles/Otros') { %> selected <% } %>>Cabañas/Hoteles/Otros</option>
                    <option value="Fondo de comercio" <% if (propiedad.tipoPropiedad === 'Fondo de comercio') { %> selected <% } %>>Fondo de Comercio</option>
                    <option value="Cocheras" <% if (propiedad.tipoPropiedad === 'Cocheras') { %> selected <% } %>>Cocheras</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="moneda" class="form-label">Moneda</label>
                <select class="form-select" id="moneda" name="moneda" >
                    <option value="Peso" <% if (propiedad.moneda === 'Peso') { %> selected <% } %>>Peso</option>
                    <option value="Dolar" <% if (propiedad.moneda === 'Dolar') { %> selected <% } %>>Dólar</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="dormitorios" class="form-label">Cantidad de Dormitorios</label>
                <select class="form-select" id="dormitorios" name="dormitorios" >
                  <option value="" disabled selected>Selecciona la cantidad de dormitorios</option>
                  <option value="Sin dormitorio" <% if (propiedad.dormitorios === 'Sin dormitorio') { %> selected <% } %>>Sin Dormitorio</option>
                  <option value="1" <% if (propiedad.dormitorios === '1') { %> selected <% } %>>1</option>
                  <option value="2" <% if (propiedad.dormitorios === '2') { %> selected <% } %>>2</option>
                  <option value="3" <% if (propiedad.dormitorios === '3') { %> selected <% } %>>3</option>
                  <option value="4" <% if (propiedad.dormitorios === '4') { %> selected <% } %>>4</option>
                  <option value="5" <% if (propiedad.dormitorios === '5') { %> selected <% } %>>5</option>
                  <option value="6" <% if (propiedad.dormitorios === '6') { %> selected <% } %>>6</option>
                  <option value="7" <% if (propiedad.dormitorios === '7') { %> selected <% } %>>7</option>
                  <option value="8" <% if (propiedad.dormitorios === '8') { %> selected <% } %>>8</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="banos" class="form-label">Cantidad de Baños</label>
                <select class="form-select" id="banos" name="banos" >
                  <option value="" disabled selected>Selecciona la cantidad de baños</option>
                  <option value="Sin baño" <% if (propiedad.banos === 'Sin baño') { %> selected <% } %>>Sin Baño</option>
                  <option value="1" <% if (propiedad.banos === '1') { %> selected <% } %>>1</option>
                  <option value="2" <% if (propiedad.banos === '2') { %> selected <% } %>>2</option>
                  <option value="3" <% if (propiedad.banos === '3') { %> selected <% } %>>3</option>
                  <option value="4" <% if (propiedad.banos === '4') { %> selected <% } %>>4</option>
                  <option value="5" <% if (propiedad.banos === '5') { %> selected <% } %>>5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="garage" class="form-label">Cantidad de Garages</label>
                <select class="form-select" id="garage" name="garage" >
                  <option value="" disabled selected>Selecciona la cantidad de garages</option>
                  <option value="No tiene garage" <% if (propiedad.garage === 'No tiene garage') { %> selected <% } %>>No tiene Garage</option>
                  <option value="1" <% if (propiedad.garage === '1') { %> selected <% } %>>1</option>
                  <option value="2" <% if (propiedad.garage === '2') { %> selected <% } %>>2</option>
                  <option value="3" <% if (propiedad.garage === '3') { %> selected <% } %>>3</option>
                  <option value="4" <% if (propiedad.garage === '4') { %> selected <% } %>>4</option>
                  <option value="5" <% if (propiedad.garage === '5') { %> selected <% } %>>5</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="metro2prop" class="form-label">Metros cuadrados de la propiedad</label>
                <input type="text" class="form-control" id="metro2prop" name="metro2prop" value="<%= propiedad.metro2prop %>" >
              </div>
              <div class="mb-3">
                <label for="metro2terr" class="form-label">Metros cuadrados del terreno</label>
                <input type="text" class="form-control" id="metro2terr" name="metro2terr" value="<%= propiedad.metro2terr %>" >
              </div>
              <div class="mb-3">
                <label for="credito" class="form-label">Apta para Crédito Hipotecario</label>
                <select class="form-select" id="credito" name="credito" >
                  <option value="" disabled selected>Selecciona si es apta para crédito hipotecario</option>
                  <option value="Apta para credito hipotecario" <% if (propiedad.credito === 'Apta para credito hipotecario') { %> selected <% } %>>Apta para Crédito Hipotecario</option>
                  <option value="No apta para credito hipotecario" <% if (propiedad.credito === 'No apta para credito hipotecario') { %> selected <% } %>>No Apta para Crédito Hipotecario</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="video" class="form-label">Enlace del video de YouTube</label>
                <input type="text" class="form-control" id="video" name="video" value="<%= propiedad.video %>">
              </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <hr>
        <button id="btnEliminar" class="btn btn-primary mb-4" data-id="<%= propiedad.id %>">Eliminar</button>

    <% } %>
</div>

<%- include("templates/footer") %>


<script>
    const btnEliminar = document.querySelector('#btnEliminar')

    btnEliminar.addEventListener('click', async() => {
        const id = btnEliminar.dataset.id
        showLoader();
        try {
            const data = await fetch(`/propiedades/form/${id}`, {
                method: 'delete'
            })

            const resp = await data.json()
            
            if(resp.estado){
                hideLoader();
                window.location.href = '/propiedades/form'
            }
        } catch (error) {
            console.log(error)
            hideLoader();
        }
    })

    const formularioEditar = document.querySelector('#formularioEditar');

// Evento submit del formulario
formularioEditar.addEventListener('submit', async (e) => {
    e.preventDefault();

    // Obtener datos del formulario
    const formData = new FormData(formularioEditar);
    const id = formularioEditar.dataset.id;
    showLoader();
    try {
        const response = await fetch(`/propiedades/form/${id}`, {
            method: 'PUT',
            body: formData
        });

        const data = await response.json();

        if (data.estado) {
            hideLoader();
            window.location.href = '/propiedades/form';
        } else {
            console.log(data.mensaje);
            hideLoader();
        }
    } catch (error) {
        console.error('Error al editar la propiedad:', error);
    }
});

// Evento click para eliminar una imagen existente
const btnEliminarImagenes = document.querySelectorAll('.btnEliminarImagen');

btnEliminarImagenes.forEach(btn => {
    btn.addEventListener('click', async () => {
        const imagenId = btn.dataset.id;
        const propiedadId = formularioEditar.dataset.id; // Obtén el ID de la propiedad
        showLoader();
        try {
            const response = await fetch(`/propiedades/form/${propiedadId}/eliminarImagen/${imagenId}`, {
                method: 'DELETE'
            });
            const data = await response.json();
            if (data.success) {
                // Actualizar la vista eliminando la imagen de la card
                hideLoader();
                btn.closest('.card').remove();
            } else {
                console.error('Error al eliminar la imagen:', data.error);
                hideLoader();
            }
        } catch (error) {
            console.error('Error al eliminar la imagen:', error);
        }
    });
});
const input = document.getElementById('imagenes');
const agregarImagenBtn = document.getElementById('agregarImagen');

agregarImagenBtn.addEventListener('click', function() {
    // Crear un nuevo campo de entrada de archivos
    const newInput = document.createElement('input');
    newInput.type = 'file';
    newInput.className = 'form-control';
    newInput.name = 'image';
    newInput.multiple = true;
    newInput.required = true;

    // Agregar un evento change al nuevo campo de entrada de archivos
    newInput.addEventListener('change', function(event) {
        // Obtener la lista de archivos seleccionados
        const files = event.target.files;

        // Iterar sobre cada archivo seleccionado
        for (const file of files) {
            // Crear un nuevo campo de entrada oculto para cada archivo seleccionado
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = 'image'; // Nombre del campo en el formulario
            hiddenInput.value = file.name; // Valor del campo (nombre del archivo)

            // Agregar el campo oculto al formulario
            input.parentNode.insertBefore(hiddenInput, input.nextSibling);
        }
    });

    // Insertar el nuevo campo de entrada antes del botón de agregar imágenes
    input.parentNode.insertBefore(newInput, agregarImagenBtn);
});

</script>

