<%- include("templates/cabecera", {tituloWeb: 'listas-propiedades'}) %>
                <div class="contenido-body">
                    <nav id="nav-prop">
                        <h1>Propiedades</h1>
                    </nav>
                <div class="contenido-prop">
                    <div class="descripcion"> 
                    </div>
                    <div class="contenedor">
                                <% propiedades.forEach(propiedad => { %>
                                    <div class="prop-card">
                                     <img src="<%= propiedad.path %>" alt=""> 
                                     <div class="Titulo"><h3><%= propiedad.tipoPropiedad %></h3></div>
                                     <div class="Precio"><h3><%= propiedad.precio %></h3></div>
                                     <div class="prop-descripcion"><p><%= propiedad.descripcion %></p></div>
                                    </div>
                             <% }); %>  
                     
                    </div>
                </div>

                          <div class="button-section">
                            <button id="back">Anterior</button>
                            
                            <button id="next">Siguiente</button>
                            
                        </div>
                </div>
                <script src="../Funciones/listas.js"></script>
                
                
<%- include("templates/footer") %>
    