<%- include("templates/cabecera", {tituloWeb: 'Propiedades'}) %>
    <div>
        <h1>CRUD PROPIEDADES</h1>
        <a href="/propiedades/crear"><button>Crear Nueva Propiedad</button></a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>

                <% if (propiedades.length > 0) { %>
                    <% propiedades.forEach(propiedad => { %>
                        <tr>
                            <th scope="row"><%= propiedad.id %></th>
                            <td><%= propiedad.imagen %></td>
                            <td><%= propiedad.nombre %></td>
                            <td><%= propiedad.descripcion %></td>
                            <td><%= propiedad.precio %></td>
                            <td>
                              <a href="propiedades/<%= propiedad.id %>">
                                <button>Editar</button>
                              </a>
                            </td>
                          </tr>
                          <% }); %>
                          <% } else { %>
                              <p>No hay propiedades disponibles.</p>
                          <% } %>



            </tbody>
          </table>

        
    </div>
 

<%- include("templates/footer") %>